body {
    background: #2e353d;
    max-width: 1024px;
    margin: 0 auto;
    color: white;
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color: #2e3530;
    &_cart-btn {
        width: 150px;
        padding: 15px;
        margin: 10px;
        color: white;
        background: #007b32;
        border: none;
        border-radius: 55%;
        outline: none;
        cursor: pointer;
    }
    &_cart-btn:hover {
        background: #009641;
    }

    &_cart-btn:active {
        background: #9cfb02;
        color: black;
    }

    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: gray;
        border-radius: 10%;
        border: 2px solid black;
        width: 30%;
        padding: 10px;
        margin-bottom: 10px;
        &_buy-btn {
            width: 150px;
            padding: 15px;
            color: white;
            background: #007b32;
            border: none;
            border-radius: 55%;
            outline: none;
            cursor: pointer;
        }
        &_buy-btn:hover {
            background: #009641;
        }
    
        &_buy-btn:active {
            background: #9cfb02;
            color: black;
        }
    }

}
// ************************************************************
.header-hamburger {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
}

.info_content {
    list-style: none;
}

.burger_container {
    display: flex;
    justify-content: space-around;

    &_size, &_fill, &_topings {
        width: 30%;
    }

    &_topings {
        &_list {
            list-style: none;
            padding: 0;
        }
    }
}
