body {
    background: #2e353d;
    max-width: 1024px;
    margin: 0 auto;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    background-color: #2e3530;
    border-bottom: 2px solid black;
    &_cart-btn {
        height: 55px;
        min-width: 120px;
        padding: 15px;
        margin: 10px;
        color: white;
        background: #007b32;
        border: none;
        border-radius: 55%;
        outline: none;
        cursor: pointer;
    }
    &_cart-btn:hover {
        background: #009641;
    }

    &_cart-btn:active {
        background: #9cfb02;
        color: black;
    }
}

.search-form {
    background-color: transparent;
    &_field {
        width: 25px;
        height: 25px;
        background-color: transparent;
        color: #fff;
        background-image: url('../img/icons/search.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &_field:hover,
    &_field:focus {
        border: 1px solid #c7b299;
    }

    &_field:active {
        border: 1px solid #fff;
    }

    &_field:focus {
        width: 200px;
        transition: width 0.8s ease-out;
        background-position: right;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: gray;
        border-radius: 10%;
        border: 2px solid black;
        width: 30%;
        padding: 10px;
        margin-bottom: 10px;
        &_buy-btn {
            width: 150px;
            padding: 15px;
            color: white;
            background: #007b32;
            border: none;
            border-radius: 55%;
            outline: none;
            cursor: pointer;
        }
        &_buy-btn:hover {
            background: #009641;
        }
    
        &_buy-btn:active {
            background: #9cfb02;
            color: black;
        }
    }

}

.footer {
    background-color: #2e3530;
    border-top: 2px solid black;
    padding: 20px;
    
    &_feedback {
        padding: 0 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_name,
        &_email,
        &_phone {
            width: 500px;
            height: 40px;
            margin-bottom: 20px;
        }
        &_msg {
            width: 500px;
            height: 170px;
            margin-bottom: 20px;
            resize: none;
        }
        &_btn {
            width: 140px;
            height: 40px;
        }
    }
}

.warning {
    border:  2px solid red;
}

// ************************************************************
.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    &_item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid white;
    }
}
.hidden {
    display: none;
}
// ************************************************************
.header-hamburger {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
}

.info_content {
    list-style: none;
}

.burger_container {
    display: flex;
    justify-content: space-around;

    &_size, &_fill, &_topings {
        width: 30%;
    }

    &_topings {
        &_list {
            list-style: none;
            padding: 0;
        }
    }
}
